body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex-grow: 1;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="date"],
form input[type="number"],
form textarea {
    width: calc(100% - 22px); /* Account for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

form button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

form button:hover {
    background: #4cae4c;
}

#progress-chart {
    text-align: center;
}

#weightChart {
    max-width: 100%;
    height: auto;
}

#no-data-message {
    text-align: center;
    color: #888;
    font-style: italic;
    margin-top: 20px;
}

#weightTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#weightTable th,
#weightTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#weightTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#weightTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#weightTable button {
    background: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background 0.3s ease;
}

#weightTable button:hover {
    background: #c9302c;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 15px;
    }

    form input[type="date"],
    form input[type="number"],
    form textarea {
        width: calc(100% - 20px);
    }
}